.contenant {
	width: 450px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.block {
	width: 200px;
	height: 200px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.9s;
	cursor: default;
}

.blocker {
	background-color: green;
}

.blocked {
	background-color: red;
	transform: scale(0.9);
	rotate: 360deg;
}